
h1{                      
	border: 1px solid green;
}
nav{
	color:blue;
	border: 1px solid black;	 
}
ol{                      
	border: 1px dashed blue;
}

ul{
	border: 1px solid green;
}


div{       
	border: 1px solid red;
	text-align: center;	
}

p{
	border: 1px dashed green;
}

footer{                      
	border: 1px solid #a23321;
}
