
nav{
	float: right;
	color:blue;	
	border: 1px dotted black;
}

div{       
	float: left;    
	color :red;
	border: 1px dashed red;
	padding: 20px;
	height: 200px;
	width: 600px;
	text-align: left;
}

p{           
	float:left;
	color :black;
	border: 1px solid green;
	margin: 5px;
	width: 25%;
	background-color: powderblue;
}

a:hover {
  background-color: #D0FBFE;
  color: red;
  font-size: 24px;
}



